@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  list-style-type: none !important;
  text-decoration: none !important;
  scroll-behavior: smooth;
}
:root {
  --fs-xxxs: 14px;
  --fs-xxs: 14.83px;
  --fs-sm: 16px;
  --fs-md: 14px;
  --fs-2md: 24px;
  --fs-3md: 32px;
  --fs-lg: 28px;
  --fs-xl: 34.44px;
  --fs-2xl: 22px;
  --fs-3xl: 34px;
  --fs-4xl: 79px;
  --fs-5xl: 108.22px;
  /* ------------ font clr--------- */
  --fc-white: #FFFFFF;
  --fc-black: #000000;
  --fc-yellow: #FC9800;
  --fc-grey: #FFFFFF80;
  --fc-lightblack: #4D4D4D;
}

/* ============ font clr =================== */
.clr-white {
  color: var(--fc-white);
}

.clr-black {
  color: var(--fc-black);
}

.clr-yellow {
  color: var(--fc-yellow);
}

.clr-grey {
  color: var(--fc-grey);
}

.clr-lightblack {
  color: var(--fc-lightblack);
}

/* =========== font weight ================== */
.fw-normal {
  font-weight: 400;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-extrabold {
  font-weight: 900;
}

/* ============= font size ================== */
.text-14 {
  font-size: var(--fs-xxxs);
}

.text-15 {
  font-size: var(--fs-xxs);
}

.text-16 {
  font-size: var(--fs-sm);
}

.text-20 {
  font-size: var(--fs-md);
}

.text-24 {
  font-size: var(--fs-2md);
}

.text-32 {
  font-size: var(--fs-3md);
}

.text-36 {
  font-size: var(--fs-lg);
}

.text-40 {
  font-size: var(--fs-xl);
}

.text-48 {
  font-size: var(--fs-2xl);
}

.text-64 {
  font-size: var(--fs-3xl);
}

.text-79 {
  font-size: var(--fs-4xl);
}

.text-108 {
  font-size: var(--fs-5xl);
}

/* ========== line height ======== */
.lh-17 {
  line-height: 17.7px;
}

.lh-19 {
  line-height: 19.36px;
}

.lh-24 {
  line-height: 24px;
}

.lh-25 {
  line-height: 25px;
}

.lh-29 {
  line-height: 29px;
}

.lh-30 {
  line-height: 30px;
}

.lh-32 {
  line-height: 32.2px;
}

.lh-43 {
  line-height: 28.57px;
}

.lh-48 {
  line-height: 48.99px;
}

.lh-58 {
  line-height: 58.09px;
}

.lh-77 {
  line-height: 37.45px;
}

.lh-95 {
  line-height: 95.67px;
}

.lh-130 {
  line-height: 130.91px;
}

/* =============== font family =============== */
.ff-inter {
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'SF Pro Text', sans-serif;
  src: url(../src/assets/font/FontsFree-Net-SFProText-Regular.ttf);
}
.ff-pro{
  font-family: 'SF Pro Text', sans-serif;
}
/* ======================= hero-sec ======================= */
.gap-21{
  gap: 21px;
}
.btnn{
  border: 1px solid var(--fc-white);
  padding: 10px 20px;
  border-radius: 189px;
  background: transparent
}
.btn-style:hover{
    border: 1px solid transparent;
    background: var(--fc-yellow);
    color: var(--fc-black);
}
.gap-46{
  gap: 46px;
}
.pt-40{
  padding-top: 40px;
}
.buy-btn{
  background: var(--fc-yellow);
  border-radius: 189px;
  padding: 10px 12px;
  border: 1px solid transparent;
}
.btn-style{
  transition: all 200ms linear;
}
.btn-style-2{
  transition: all 200ms linear;
}
.btn-style-2:hover{
  background: var(--fc-black);
  border: 1px solid var(--fc-white);
  color: var(--fc-white);
}
/* .gap-20{
  gap: 20px;
} */
.flex_grow{
  flex-grow: 1 !important;
}
.h_754{
  height: 597px;
}

.mb-lg-36{
  margin-bottom: 36px;
}
.mb-lg-91{
  margin-bottom: 91px;
}
.hero_img{
bottom: 0px;
  right: 0;
}
/* .max-w-450{
  max-width: 450px;
} */
.ps-10{
  padding-left: 10px;
}
.pb-20{
  padding-bottom: 20px;
}
/* ======================= social media box ========================= */
.yellow-box{
  min-height: 136px;
  background: var(--fc-yellow);
  padding: 10px;
}
.gap-12{
  gap: 12px;
}
/* ========================= about us ============================== */
.about-bg-img{
  background-image: url(./assets/Images/png/aboy-bg-img.png);
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.gap-23{
  gap: 23px;
}

.pb-10{
  padding-bottom: 10px;
}

.max-w-700{
  max-width: 700px;
}
.Fuding_pstn_1{
  top: 0;
  left: 10%;
}
.Fuding_pstn_2{
  bottom:-28px;
  left: 15%;
}
.Fuding_pstn_3{
  top: 71%;
  left: 36%;
}
.gap-20{
  gap: 20px;
}
.max-w-59{
  max-width: 40px;
}
.py-10{
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ======================== tokeonomics ============================== */
.gap-10{
  gap: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.opacity_80{
  opacity: 80%;
}
.mb-20{
  margin-bottom: 20px;
}
.token_box{
  max-width: 404px;
  /* height: 225px; */
  padding: 27px 54px 39px 25px;
  box-shadow: 0px 4px 4px 0px #00000040;
  box-shadow: 0px 5px 18px 0px #00000061;
  border: 1px solid var(--fc-grey);
  border-radius: 20px;
}
.max-w-278{
  max-width: 278px;
}
.max-w-223{
  max-width: 223px;
}
.max-w-300{
  max-width: 300px;
}
.max-w-324{
  max-width: 324px;
}
.orange_box_1{
  /* max-width: 296px; */
  /* width: 100%; */
  background: var(--fc-yellow);
  border: 1px solid var(--fc-black);
  padding: 16px 22px;
  width: fit-content;
}
.orange_box_2{
  /* max-width: 131px; */
  /* width: 100%; */
  width: fit-content;
  background: var(--fc-yellow);
  border: 1px solid var(--fc-black);
  padding: 16px 22px;
}
.orange_box_3{
  /* max-width: 152px; */
  /* width: 100%; */
  width: fit-content;
  background: var(--fc-yellow);
  border: 1px solid var(--fc-black);
  padding: 16px 22px;
}
.orange_box_5{
  /* max-width: 296px; */
  /* width: 100%; */
  width: fit-content;
  background: var(--fc-yellow);
  border: 1px solid var(--fc-black);
  padding: 16px 68px;
}
.orange_box_6{
  /* max-width: 296px; */
  /* width: 100%; */
  width: fit-content;
  background: var(--fc-yellow);
  border: 1px solid var(--fc-black);
  padding: 16px 72px;
}

.pb-20{
  padding-bottom: 20px;
}
/* ================================== utility ====================== */
.w_441{
  max-width: 441px;
}
.h-544{
  height: 544px;
}

.fuding_pstn_1{
  top: 10%;
  left: 12%;
}
.fuding_pstn_2{
  top: 10%;
  right: 36%;
}
.fuding_pstn_3{
  bottom: 12%;
  right: 46%;
}
.pb-15{
  padding-bottom: 15px;
}
.pt-20{
  padding-top: 20px;
}
.mt-15{
  margin-top: 15px;
}
/* ===============================place======================= */
.place_box{
  max-width: 1780px;
  width: 100%;
  height: 136px;
  background: var(--fc-yellow);
  Rotate :-2.02deg;
}
/* ============================ ecosystem ===================== */
.max-w-550{
  max-width: 550px;
}
.h-550{
  height: 550px;
}
.pt-13{
  padding-top: 13px;
}
.news-pstn{
  top: 10%;
  left: 5%;
}
.spacks-pstn{
  bottom: 3%;
  right: 5%;
}
.max-w-466{
  max-width: 466px;
}
/* ================================== roadmap ================================= */
.roadmap-bg-img{
  background-image: url(./assets/Images/png/roadmap-bg-img.png);
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
}

.opacity_70{
  opacity: 70%;
}
.max-w-894{
  max-width: 894px;
}
.max-w-185{
  max-width: 185px;
}
.max-w-196{
  max-width: 196px;
}
.max-w-237{
  max-width: 237px;
}
.pb-lg-141{
  padding-bottom: 141px;
}
.gap-lg-18{
  gap: 18px;
}
.mb-lg-50{
  margin-bottom: 50px;
}
/* ========================= latest news ================================ */

.latest_card{
  max-width: 367px;
  width: 100%;
  border: 1px solid var(--fc-black);
  padding: 26px 6px 19px 13px;
}
.pt-21{
  padding-top: 21px;
}
.max-w-321{
  max-width: 321.07px;
}
.pt-lg-27{
  padding-top: 27px;
}
.max-w-240{
  max-width: 240px;
}
.mb-lg-27{
  margin-bottom: 27px;
}

.phone-pstn{
  top: 14%;
  left: 9%;
}
.paper-pstn{
  top: 9%;
 left: 14%;
}
.laptop_pstn{
  top: 4%;
  right: 5%;
}
.slick-track{
  display: flex !important;
  gap: 18px !important;
}
.pb-20{
  padding-bottom: 20px;
}
.py-20{
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width:576px) {
  :root{
    --fs-3xl: 44px;
  }
  .lh-77 {
    line-height: 57.45px;
  }
  .py-sm-40{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .pb-sm-30{
    padding-bottom: 30px;
  }
}
@media (min-width:768px) {
  .btnn{
    border: 1px solid var(--fc-white);
    padding: 19px 32px;
    border-radius: 189px;
    background: transparent
  }
  :root{
   
    --fs-md: 20px;
    --fs-lg: 30px;
    --fs-xl: 40.44px;
    --fs-2xl: 48px;
    --fs-3xl: 64px;
  }
  .ps-lg-19{
    padding-left: 19px;
   }
   .buy-btn{
    background: var(--fc-yellow);
    border-radius: 189px;
    padding: 19px 32px;
    border: 1px solid transparent;
  }
  .pb-md-32{
    padding-bottom: 32px;
  }
  .h_754{
    height: 754px;
  }
  .gap-md-22{
    gap: 22px;
  }
  .max-w-59{
    max-width: 59px;
  }
  .pb-lg-20{
    padding-bottom: 20px;
  }
  .lh-77 {
    line-height: 77.45px;
  }
  .py-md-80-60{
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .gap-md-30{
    gap: 30px;
  }
  .lh-25 {
    line-height: 25px;
  }
  .py-md-90{
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .pt-md-70{
    padding-top: 70px;
  }
  .lh-43 {
    line-height: 38.57px;
  }
  .gap-md-18{
    gap: 18px;
  }
  .mb-md-18{
    margin-bottom: 18px;
  }
  .py_md_50_31{
    padding-top: 50px;
    padding-bottom: 31px;
  }
  .pb-md-33{
    padding-bottom: 33px;
  }
  .max-w-md-565{
    max-width: 565px;
  }
  .h-md-574{
    height: 574px;
  }
  .pb-md-45{
    padding-bottom: 45px;
  }
  .py-md-70{
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .pb-md-60{
    padding-bottom: 60px;
  }
}
@media (min-width:992px) {
  .pb-lg-62{
    padding-bottom: 62px;
  }
  .Fuding_pstn_3{
    top: 80%;
    left: 20%;
  }
  .max-w-lg-550{
    max-width: 550px;
  }
  .max-w-lg-688{
    max-width: 688px !important;
  }
  .py_lg_134_104{
    padding-top: 134px;
    padding-bottom: 104px;
  }
  .gap-lg-59{
    gap: 59px;
  }
  .max-w-435{
    max-width: 435px;
  }
  .tokeonomics-bg-img{
    background-image: url(./assets/Images/png/tokeonomics-bg-img.png);
    /* background-position: center; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .py-lg-255{
    padding-top: 255px;
    padding-bottom: 255px;
  }
  .pt-lg-144{
    padding-top: 144px;
  }
  .pb-lg-20{
    padding-bottom: 20px;
  }
  .pb-lg-27{
    padding-bottom: 27px;
  }
  :root{
    --fs-lg: 36px;
  }
  .lh-43 {
    line-height: 43.57px;
  }
  .mt-md-40{
    margin-top: 40px;
  }
  .py_lg_177_61{
    padding-top: 177px;
    padding-bottom: 61px;
  }
  .max-w-lg-565{
    max-width: 565px;
  }
  .roadmap-bg-img{
    background-image: url(./assets/Images/png/roadmap-bg-img.png);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
  }
  .py_lg_125_96{
    padding-top: 125px;
    padding-bottom: 96px;
  }
  .pb-lg-96{
    padding-bottom: 96px;
  }
  .py-lg-244{
    padding-top: 244px;
    padding-bottom: 378px;
  }
}

@media (min-width:1200px) {
  .max_w_xl_576{
    max-width: 576px;
  }
  .Fuding_pstn_3{
    top: 71%;
    left: 36%;
  }
 
}

@media (min-width:1535.99px){
 /* .custom-container{
  max-width: 1440px !important;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
 } */
 .container{
  max-width: 1440px !important;
 }
 .min_vh_100{
  min-height: 100vh;
 }
}
@media (min-width:1400px) and (max-width:1535.99px){
  .container{
    max-width: 1140px !important;
  }
}
@media (max-width:1200px) {
  .flex_wrap{
    flex-wrap: wrap;
  }
}

 @media (max-width:992px) {
  label[for="menu-icon"] {
    width: 40px;
    height: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 5;
  }
  label[for="menu-icon"]>span {
    width: 100%;
    height: 4px;
    background-color: var(--fc-white);
    position: relative;
    z-index: 2;

  }
  .menulist {
    flex-direction: column;
    background-color:var(--fc-yellow);
    height: 100vh;
    width: 50%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 200ms linear;
    align-items: center;
    justify-content: center;
    z-index: 4;
  }

  input:checked~ul.menulist {
    right: 0;
  }
  .opacity_30{
    opacity: 30%;
  }
  .flex_wrap{
    flex-wrap: wrap;
  }
  .token_bg_black{
    background: var(--fc-black);
  }
}
@media (max-width:576px) {
  .w_100{
    width: 100%;
  }
}

