@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  list-style-type: none !important;
  text-decoration: none !important;
  scroll-behavior: smooth;
}
:root {
  --fs-xxxs: 14px;
  --fs-xxs: 14.83px;
  --fs-sm: 12px;
  --fs-md: 14px;
  --fs-2md: 24px;
  --fs-3md: 32px;
  --fs-lg: 36px;
  --fs-xl: 34.44px;
  --fs-2xl: 22px;
  --fs-3xl: 64px;
  --fs-4xl: 79px;
  --fs-5xl: 108.22px;
  /* ------------ font clr--------- */
  --fc-white: #FFFFFF;
  --fc-black: #000000;
  --fc-yellow: #FC9800;
  --fc-grey: #FFFFFF80;
  --fc-lightblack: #4D4D4D;
}

/* ============ font clr =================== */
.clr-white {
  color: var(--fc-white);
}

.clr-black {
  color: var(--fc-black);
}

.clr-yellow {
  color: var(--fc-yellow);
}

.clr-grey {
  color: var(--fc-grey);
}

.clr-lightblack {
  color: var(--fc-lightblack);
}

/* =========== font weight ================== */
.fw-normal {
  font-weight: 400;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-extrabold {
  font-weight: 900;
}

/* ============= font size ================== */
.text-14 {
  font-size: var(--fs-xxxs);
}

.text-15 {
  font-size: var(--fs-xxs);
}

.text-16 {
  font-size: var(--fs-sm);
}

.text-20 {
  font-size: var(--fs-md);
}

.text-24 {
  font-size: var(--fs-2md);
}

.text-32 {
  font-size: var(--fs-3md);
}

.text-36 {
  font-size: var(--fs-lg);
}

.text-40 {
  font-size: var(--fs-xl);
}

.text-48 {
  font-size: var(--fs-2xl);
}

.text-64 {
  font-size: var(--fs-3xl);
}

.text-79 {
  font-size: var(--fs-4xl);
}

.text-108 {
  font-size: var(--fs-5xl);
}

/* ========== line height ======== */
.lh-17 {
  line-height: 17.7px;
}

.lh-19 {
  line-height: 19.36px;
}

.lh-24 {
  line-height: 24px;
}

.lh-25 {
  line-height: 25px;
}

.lh-29 {
  line-height: 29px;
}

.lh-30 {
  line-height: 30px;
}

.lh-32 {
  line-height: 32.2px;
}

.lh-43 {
  line-height: 43.57px;
}

.lh-48 {
  line-height: 48.99px;
}

.lh-58 {
  line-height: 58.09px;
}

.lh-77 {
  line-height: 77.45px;
}

.lh-95 {
  line-height: 95.67px;
}

.lh-130 {
  line-height: 130.91px;
}

/* =============== font family =============== */
.ff-inter {
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'SF Pro Text', sans-serif;
  src: url(../src/assets/font/FontsFree-Net-SFProText-Regular.ttf);
}
/* ======================= hero-sec ======================= */
.gap-21{
  gap: 21px;
}
.btnn{
  border: 1px solid var(--fc-white);
  padding: 10px 20px;
  border-radius: 189px;
  background: var(--fc-black);
}
.btn-style:hover{
    border: 1px solid transparent;
    background: var(--fc-yellow);
    color: var(--fc-black);
}
.gap-46{
  gap: 46px;
}
.pt-40{
  padding-top: 40px;
}
.buy-btn{
  background: var(--fc-yellow);
  border-radius: 189px;
  padding: 10px 12px;
  border: 1px solid transparent;
}
.btn-style{
  transition: all 200ms linear;
}
.btn-style-2{
  transition: all 200ms linear;
}
.btn-style-2:hover{
  background: var(--fc-black);
  border: 1px solid var(--fc-white);
  color: var(--fc-white);
}
.gap-20{
  gap: 20px;
}
.flex_grow{
  flex-grow: 1 !important;
}
.h_754{
  height: 597px;
}

.mb-lg-36{
  margin-bottom: 36px;
}
.mb-lg-91{
  margin-bottom: 91px;
}
.hero_img{
bottom: 0px;
  right: 0;
}
.max-w-450{
  max-width: 450px;
}
.ps-10{
  padding-left: 10px;
}
.pb-20{
  padding-bottom: 20px;
}
/* ======================= social media box ========================= */
.yellow-box{
  min-height: 136px;
  background: var(--fc-yellow);
  padding: 10px;
}
.gap-12{
  gap: 12px;
}

@media (min-width:1535.99px){
 .custom-container{
  max-width: 1440px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
 }
 .min_vh_100{
  min-height: 100vh;
 }
}
@media (min-width:1200px) {
  .max_w_xl_576{
    max-width: 576px;
  }
}
@media (min-width:992px) {
  .pb-lg-62{
    padding-bottom: 62px;
  }
}
@media (min-width:768px) {
  .btnn{
    border: 1px solid var(--fc-white);
    padding: 19px 32px;
    border-radius: 189px;
    background: var(--fc-black);
  }
  :root{
    --fs-sm: 16px;
    --fs-md: 20px;
    --fs-xl: 40.44px;
    --fs-2xl: 48px;
  }
  .ps-lg-19{
    padding-left: 19px;
   }
   .buy-btn{
    background: var(--fc-yellow);
    border-radius: 189px;
    padding: 19px 32px;
    border: 1px solid transparent;
  }
  .pb-md-32{
    padding-bottom: 32px;
  }
  .h_754{
    height: 754px;
  }
  .gap-md-22{
    gap: 22px;
  }
}
@media (min-width:576px) {
 :root{
  --fs-2xl: 38px;
 }
}
 @media (max-width:992px) {
  label[for="menu-icon"] {
    width: 40px;
    height: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 5;
  }

  label[for="menu-icon"]>span {
    width: 100%;
    height: 4px;
    background-color: var(--fc-white);
    position: relative;
    z-index: 2;

  }

  .menulist {
    flex-direction: column;
    background-color:var(--fc-yellow);
    height: 100vh;
    width: 50%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 200ms linear;
    align-items: center;
    justify-content: center;
    z-index: 4;
  }

  input:checked~ul.menulist {
    right: 0;
  }
  .opacity_30{
    opacity: 30%;
  }
}

